@charset "ISO-8859-1";

body {
	font-family:arial;
	font-size:12pt;
}
h1 {
	color: red
}

h2 {
	color: navy
}

li {
	font-weight: bold
}

/* css class */

.highlight {
	font-family:verdana;
	font-weight:bold;
	font-size:14pt;
	color:white;
	background-color:green;
}